In [7]:
import pandas as pd, numpy as np
from sklearn.model_selection import train_test_split as tts

<h3>
1Q<br> 
a. Write a Python program to predict house prices using Simple Linear Regression on a given dataset.<br>
b. Predict the salary of an employee based on their years of experience using Simple
Linear Regression with train and test data.</h3>

In [6]:
dfq1 = pd.read_csv("homeprices.csv")
dfq1.head()

   area   price
0  2600  550000
1  3000  565000
2  3200  610000
3  3600  680000
4  4000  725000

In [18]:
from sklearn.linear_model import LinearRegression as LR
x_train_1a, x_test_1a, y_train_1a, y_test_1a = tts(dfq1.iloc[:, 0:-1], dfq1.iloc[:, -1], test_size=0.2)
model = LR().fit(x_train_1a, y_train_1a)
y_pred = model.predict(x_test_1a)

In [23]:
model.predict(x_test_1a).round(2)

array([721538.46])

In [25]:
df1q2 = pd.read_csv("Salary_Data.csv")
df1q2.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [30]:
x_train_1b, x_test_1b, y_train_1b, y_test_1b = tts(df1q2.iloc[:, 0:-1], df1q2.iloc[:, -1], test_size=0.2)
model2 = LR().fit(x_train_1b, y_train_1b)
y_pred2 = model2.predict(x_test_1b)

In [43]:
for i, j in enumerate(y_pred2):
    print(f"Est Salary for {x_test_1b.values[i][0]} years is : {j.round(2)}")

Est Salary for 3.7 years is : 60001.99
Est Salary for 5.3 years is : 75333.46
Est Salary for 3.0 years is : 53294.48
Est Salary for 7.9 years is : 100247.09
Est Salary for 1.1 years is : 35088.36
Est Salary for 10.3 years is : 123244.29